body {
    margin: 0px;
    padding: 0px;
}

/*Cabecalho*/
header {
    background-color: green;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 180px;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.menus li {
    list-style: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.3s;
}

.menus li:hover {
    transform: scale(1.2);
}

.menus li a:hover {
    color: #128f12;
}

/*Btn Central do assinante*/
button {
    position: relative;
    padding: 12px 35px;
    background: #0e9a02;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    border: 3px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fffdef;
  }
  
  .fundoBtnAssine button a{
    text-decoration: none;
    color: #fff;
  }


/*banner*/
.fundoBanner img {
    width: 100%;
    height: 450px;
}

/*Produtos*/
.fundoProdutos {
    background-color: #32CD32;
    width: 100%;
    height: 390px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    box-shadow:7px -10px 20px rgba(0, 0, 0, 1.2),
     7px 10px 20px rgba(0, 0, 0, 1.2);
    
}


.produto {
    background-color: #e6e6e6;
    border-radius: 20px;
    display: flex;
    width: 310px;
    height: 110px;
    gap: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.2);
    transition: transform 0.3s ease-in-out;
    padding: 10px;
}

.produto:hover {
    transform: scale(1.05);
}

.imgProduto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoProduto h4{
    font-size: 20px;
}

.imgProduto img {
    width: 80px;
    height: 80px;
}

/*Planos*/
.fundoPlanos {
    background-color: #e6e6e6;
    width: 100%;
}

.textosTopo {
    text-align: center;
    margin-bottom: 40px;
}

.wifiTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.wifiTexto img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.wifiTexto h4 {
    font-size: 48px;
    font-weight: bold;
    color: #32CD32;
    font-style: italic;
    margin-top: 10px;
}

.wifiTexto h4 strong {
    color: green;
}

.textosTopo h2 {
    font-size: 58px;
    font-weight: bold;
    margin: 0px;
}

.textosTopo p {
    font-family: "Baskerville Old Face";
    color: #787575;
}

.fundoCards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    background-color: #fff;
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 40px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.2);
}

.topoCard {
    background-color: green;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.topoCard h3 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    margin: 5px;
}

.textoPlano {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}

.conteudoCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.precoPlano {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 8px;
}

.mensal {
    color: #605a5a;
}

.preco {
    font-size: 48px;
    font-weight: bold;
}

.itensPlano {
    margin-bottom: 10px;
}

.item {
    font-family: "Dubai Light";
    list-style-type: none;
}

.fundoAssineAgora{
    margin-bottom: 10px;
}

.btnAssineAgora {
    background-color: #32CD32;
    color: #FFFFFF;
    border-radius: 50px;
    width: 185px;
    height: 50px;
    font-weight: bold;
    border: solid 1px green;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btnAssineAgora:hover {
    background-color: forestgreen;
}

/*Clientes*/
.fundoCardCliente {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.cardCliente {
    background-color: #dbf2db;
    width: 300px;
    height: 250px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cardCliente p {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #128f12;
}

.fotoCliente img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/*Rodape*/
.rodape {
    background-color: #014a01;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape p {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 28px;
}

.logoRodape img {
    width: 200px;
    height: 80px;
}

.redeSocialRodape img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    transition: transform 0.3s;
}

.redeSocialRodape img:hover {
    transform: scale(1.2);
}

/*Responsivo*/
@media (max-width: 768px) {
    header {
        /* flex-direction: column; */
        height: auto;
        justify-content: space-around;
        align-items: center;
        gap: 10px
    }

    .menus {
        flex-direction: column;
    }

    .rodape {
        flex-direction: column-reverse;
        height: auto;
    }

}

